
*.exe
*.out
*.app
*.o
*.obj
*.so
*.dll
*.a


build/
bin/
Debug/
Release/


CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json


.vscode/


.vs/
*.sln
*.vcxproj*
*.pdb


*.tmp
*.log
*.swp
*.DS_Store
Thumbs.db


main
a.out